
table {
  margin: auto;
  padding:auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5 px;
  border-color: black;
}

th,
td {
  text-align: left;
  padding: auto;
}

tr:nth-child(even) {
  background-color: #b3afaf;
}